@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,700');


h2{
    font-family: Raleway;
}

label{

    /* TO ENSURE THAT FIELDSET HAS A TOP BORDER
    * YOU NEED TO ADJUST THE MAX-WIDTH OF THE LEGEND
    */

    width: 200px;
    font-family: Raleway;
    padding-left: 7px;
    border-bottom: none;
}

legend{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: none;
    font-size: 20px;

}

form {
    margin: auto;
    position: relative;
    width: 50%;
}

fieldset {

    margin:40px !important;
    padding: 30px;
    /*padding: 20px 0px 30px 40px;*/
    border: 2px solid #ffda7a;

    /*padding-right: 50px;*/
}

/*placeholder font*/

::-webkit-input-placeholder {
    font-family: Raleway!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Raleway!important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-family: Raleway!important;
}

select{
    font-family: Raleway!important;
}

/*custom inputs*/

.c-input{
    border: 1px solid #328a89;
    border-radius: 0!important;
}

/*custom buttons*/

.c-btn{
    border: 1px solid #328a89;
    background-color: #fff;
    color: #328a89;
    font-family: Raleway!important;
    border-radius: 10px;
    text-align: center;
}
.c-btn:hover {background-color: #ffda7a!important}


/*Personalised styles*/

.resetPwd {
    color: #328a89;
    font-family: Raleway!important;
}

.error {
    color: #c9302c;
}

.signup-succes {
    color: #328a89;
    background-color: #ffda7a;
}

@media only screen and (max-width: 480px) {
    form {
        width: 100%;
    }

    .new-user {
        display: none;
    }
}